@import "variaveis.scss";

@mixin borda($cor, $expessura) {    //borda de algum container, dividir o main do resto
    border: $expessura solid $cor;
}
@mixin flex-config($align, $justify, $direction) { //configuração do flex, pois é bastante usado
    display: flex;
    text-align: $align;
    justify-content: $justify;
    flex-direction: $direction;
}
@mixin input_btn($largura, $altura, $radius) {  //configuração de input e botão
    width: $largura;
    height: $altura;
    border-radius: $radius;
}

@mixin color_config($background, $color) {  //
    background: $background;
    color: $color;
}
header{
    @include flex-config(center,center,column );
    @include color_config($cor-azul,white);
    margin-bottom: 30px;
    height: 120px;
}
main{
    border-radius: 8px;
    display: grid;
    grid-template-areas: 
    "lado principal"
    "lado principal";
    grid-template-columns: 40% 60%;
    grid-template-rows: 80vh;
    width: 80%;
    margin: auto;
    @include borda(lightgray,1px);
    & aside{
        grid-area: lado;
        @include flex-config(center,center,column );
        @include color_config($cor-azul,white);
        & a{
            text-decoration: none;
            color: white;
        }
    }
    & section{
       
        .border--down{
            border-bottom: 1px solid gray;
        }
        & :focus{
            border-bottom: 2px solid gray;
            outline: none;
            transition: .1s;
        }
        grid-area: principal; 
        @include flex-config(center,center,column );  
        & fieldset {
            width: 100%;
        }
        & p{
            text-align: center;
            font-size: 1.5rem;
        }
        & input{
            
            @include input_btn(60%,30px ,0px );
            margin-bottom: 20px;
        } 
        & button{
            @include input_btn(90px,30px ,8px );
            @include color_config($cor-azul,white );
            cursor: pointer;
            margin: 10px;
            float: right;
        }
        & .area{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;
            
        }
    }
}
footer{
    height: 120px;
    margin-top: 30px;
    @include flex-config(center,center ,column );
    @include color_config($cor-azul, white);
}
